.idea/
.nx/
.vscode/
node_modules/
*/*/dist/
eslint.config.mjs
*/*/eslint.config.mjs
README.md
*/*/README.md
*/databases/*/README.md
*/databases/*/eslint.config.mjs
.prettierignore
.prettierrc
libs/databases/*/src/prisma