.idea/
.vscode/
docs/

npm-debug.log
yarn-debug.log
yarn-error.log

dist/
build/
*.tgz
*.tar.gz

.DS_Store
Thumbs.db

.env
.prettierrc
.prettierrc.json
.editorconfig
.gitattributes
.oxlintrc.json
eslint..c.onfig.mjs
eslint.config.ts

.nx/
.git/
*.md
LICENSE
docker-compose*.yml
.dockerignore
.env*
!.env.example

server/*/prisma/generated/

.vite/