# Build Paths
EVENTS_SERVICE_PATH=./server/events-service
TICKET_SERVICE_PATH=./server/ticket-service
# Ports
EVENTS_SERVICE_PORT=3000
TICKET_SERVICE_PORT=3001
EVENTS_DB_PORT=5432
TICKET_DB_PORT=5433
CLIENT_PORT=5173
# Redis
REDIS_URL="redis://redis:6379"
# RMQ
RABBIT_MQ_USER=user
RABBIT_MQ_PASSWORD=passwd
TICKET_QUEUE=ticket-queue
EVENTS_QUEUE=events-queue
# Events DB
EVENTS_DB_USER=eventsuser
EVENTS_DB_PASSWORD=eventspasswd
EVENTS_DB_NAME=events
EVENTS_DB_URL="postgresql://${EVENTS_DB_USER}:${EVENTS_DB_PASSWORD}@events-db:5432/${EVENTS_DB_NAME}?schema=public"
# Tickets DB
TICKET_DB_USER=ticketuser
TICKET_DB_PASSWORD=ticketpasswd
TICKET_DB_NAME=tickets
TICKET_DB_URL="postgresql://${TICKET_DB_USER}:${TICKET_DB_PASSWORD}@ticket-db:5432/${TICKET_DB_NAME}?schema=public"
# CORS
CORS_CLIENT_ORIGIN="http://localhost:${CLIENT_PORT}"