# Ports
EVENTS_SERVICE_PORT=3000
TICKET_SERVICE_PORT=3001
EVENTS_DB_PORT=5432
TICKET_DB_PORT=5432
RABBIT_MQ_PORT=5672
REDIS_PORT=6379
# Hosts
TICKET_DB_HOST=ticket-db
EVENTS_DB_HOST=events-db
RABBIT_MQ_HOST=rabbitmq
REDIS_HOST=redis
# Redis
REDIS_URL="redis://${REDIS_HOST}:${REDIS_PORT}"
# RMQ
RABBIT_MQ_USER=user
RABBIT_MQ_PASSWORD=passwd
TICKET_QUEUE=ticket-queue
# Events DB
EVENTS_DB_USER=user1
EVENTS_DB_PASSWORD=passwd1
EVENTS_DB_NAME=events
EVENTS_DB_URL="postgresql://${EVENTS_DB_USER}:${EVENTS_DB_PASSWORD}@${EVENTS_DB_HOST}:${EVENTS_DB_PORT}/${EVENTS_DB_NAME}?schema=public"
# Tickets DB
TICKET_DB_USER=user2
TICKET_DB_PASSWORD=passwd2
TICKET_DB_NAME=tickets
TICKET_DB_URL="postgresql://${TICKET_DB_USER}:${TICKET_DB_PASSWORD}@${TICKET_DB_HOST}:${TICKET_DB_PORT}/${TICKET_DB_NAME}?schema=public"