node_modules/
.pnpm-store/
.yarn/
.yarn-cache/
dist/
build/
.out/
.output/
*.tsbuildinfo
.env
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
coverage/
tmp/
temp/
.cache/
docker-compose-*.yml
server/*/prisma/generated/
.nx/