@import "tailwindcss";

@theme {
  --color-accent: #9E4A4A;
  --color-muted: #BABABA;
  --color-container: #FFFFFF;
}

body {
  background-color: var(--color-container);
  font-family: "Google Sans", sans-serif;
}
